.modal__calculation {
	border: 10px solid transparent;
	border-image-source: $red-gradient;
	border-image-slice: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	border-radius: 4px;
	background-color: #fff;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	position: relative;
}



.modal__heading {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #03244E;
	margin-bottom: 55px;
}

.modal__input, .modal__textarea {
	margin-bottom: 20px;
	width: 100%;
	height: 70px;
	outline: none;
	border: 2px solid $blue-color;
	border-radius: 4px;
	padding: 25px 35px;
}

.modal__textarea {
	height: 160px;
}

.modal .link {
	width: 100%;
	margin-bottom: 15px;
}