$main-color = #03244E;
$white-color = #FBFDFF;
$blue-gradient = linear-gradient(to right, #0D65D2 0%, #0D65D2 50%, #1C78EB 50%, #1C78EB 100%);
$red-gradient = linear-gradient(to right, #DE1142 0%, #DE1142 50%, #BB0833 50%, #BB0833 100%);
