$main-color = #03244e;
$white-color = #FBFDFF;
$blue-gradient = linear-gradient(to right, #0D65D2 0%, #0D65D2 49.9%, #1C78EB 100%);
$red-gradient = linear-gradient(to right, #DE1142 0%, #DE1142 49.9%, #BB0833 100%);
