@import 'reset.css';
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/open-sans-v17-latin_cyrillic-300.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-300.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("fonts/open-sans-v17-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-regular.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url("fonts/open-sans-v17-latin_cyrillic-italic.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-italic.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url("fonts/open-sans-v17-latin_cyrillic-600.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-600.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("fonts/open-sans-v17-latin_cyrillic-700.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-700.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url("fonts/open-sans-v17-latin_cyrillic-800.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-800.woff") format('woff'),;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  padding-top: 2px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #de1142;
  background-color: #fff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
  margin-top: 3px;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 6px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 2px solid #de1142;
  border-bottom: 2px solid #de1142;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #de1142;
}
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #03244e;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  flex-direction: column;
  background: url("../img/header-bg.png") no-repeat center center;
  background-size: cover;
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}
.header__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.header__link_mail {
  font-size: 18px;
  color: #03244e;
  font-weight: 400;
}
.header__link_phone {
  font-weight: 700;
  font-size: 24px;
  color: #03244e;
}
.header__link_wrapper {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.header__menu {
  border: none;
  outline: none;
  background-color: transparent;
}
.header__menu:hover,
.header__menu:focus {
  cursor: pointer;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  margin-top: 180px;
  margin-bottom: 250px;
  position: relative;
}
.header__h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 40px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfdff;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  font-weight: 600;
  font-size: 18px;
  border: none;
  outline: none;
  width: 360px;
  height: 70px;
  border-radius: 4px;
  box-shadow: 0 10px 25px -10px #bb0833;
}
.link:hover,
.link:focus {
  cursor: pointer;
}
.lines {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  left: -20px;
  top: 30px;
  z-index: -1;
}
.lines::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  width: 16px;
  height: 2px;
  top: -5px;
  left: 14px;
}
.lines::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  width: 22px;
  height: 2px;
  top: 5px;
  left: 5px;
}
.section__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  color: #03244e;
  z-index: 2;
}
.section__heading .lines {
  left: -21px;
  top: 27px;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages .section__heading {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 60px;
}
.advantages__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.advantages__image_truck {
  position: relative;
  left: -25px;
}
.advantages__list {
  padding: 70px 50px 70px 70px;
  background-color: #fff;
  border: 10px solid transparent;
  border-image-source: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  border-image-slice: 1;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 22px -10px #0d65d2;
}
.advantages__list_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.advantages__list_column figure {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
.advantages__list_column figure:not(:first-child) {
  margin-top: 40px;
}
.advantages__image_wrapper {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.advantage__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #03244e;
  margin-top: 10px;
}
.advantage__text_bold {
  font-weight: 700;
}
.help {
  background: url("../img/help-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 140px;
}
.help .section__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  color: #fbfdff;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 80px;
}
.help .section__heading .lines {
  left: -24px;
}
.help__list {
  background-color: #fff;
  border-radius: 4px;
  border-top: 10px solid #de1142;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/help-cosmetic-left.png") no-repeat left center, url("../img/help-cosmetic-right.png") no-repeat right center, #fff;
}
.help__item {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.help__item:not(:last-child) {
  margin-bottom: 30px;
}
.help__item img {
  margin-right: 20px;
}
.help__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #03244e;
}
.help__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #03244e;
}
.price {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  background: url("../img/price-bg.png") no-repeat bottom 0 right 40px, #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 65px;
  padding-left: 100px;
  padding-bottom: 80px;
  box-shadow: 0 10px 25px -10px #bb0833;
  position: relative;
  top: 160px;
  margin-top: -20px;
}
.price__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  color: #03244e;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 60px;
  z-index: 1;
}
.price__heading .lines {
  z-index: -1;
  left: -22px;
  top: 25px;
}
.price__heading_blue {
  font-weight: 800;
  color: #1c78ea;
}
.price__input {
  width: 317px;
  height: 70px;
  border: 2px solid #1872e3;
  outline: none;
  padding: 25px 35px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.price .link {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 317px;
  height: 70px;
}
.steps {
  margin-top: 300px;
}
.steps .section__heading {
  margin-bottom: 90px;
  z-index: 1;
}
.steps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.step {
  width: 30%;
}
