@import 'reset.css';
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("fonts/open-sans-v17-latin_cyrillic-300.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-300.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("fonts/open-sans-v17-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-regular.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url("fonts/open-sans-v17-latin_cyrillic-italic.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-italic.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url("fonts/open-sans-v17-latin_cyrillic-600.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-600.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("fonts/open-sans-v17-latin_cyrillic-700.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-700.woff") format('woff'),;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url("fonts/open-sans-v17-latin_cyrillic-800.woff2") format('woff2'), url("fonts/open-sans-v17-latin_cyrillic-800.woff") format('woff'),;
}
.modal {
  border: 10px solid transparent;
  border-image-source: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-radius: 4px;
  background-color: #fff;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  position: relative;
}
.modal a {
  color: #03244e;
}
.modal__heading {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: #03244e;
  margin-bottom: 55px;
}
.modal__input,
.modal__textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
  outline: none;
  border: 2px solid #1872e3;
  border-radius: 4px;
  padding: 25px 35px;
}
.modal__textarea {
  height: 160px;
}
.modal .link {
  width: 100%;
  margin-bottom: 15px;
}
.modal__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 25px;
  color: #03244e;
  position: relative;
  padding-left: 45px;
  margin-bottom: 40px;
}
.modal__text::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: url("../img/icons/modal-check.svg");
}
.modal__text_bold {
  font-weight: 700;
}
.modal__text_thanks::before {
  top: -2px;
}
.mobile {
  top: 15px;
  right: 15px;
  width: 300px;
  margin-right: 0;
}
.mobile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile ul li {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #03244e;
}
.mobile ul li:first-child {
  margin-bottom: 35px;
}
.mobile ul li a {
  text-decoration: none;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  padding-top: 2px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #de1142;
  background-color: #fff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
  margin-top: 3px;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 6px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 2px solid #de1142;
  border-bottom: 2px solid #de1142;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #de1142;
}
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
.footer input[type="checkbox"]:checked + label:before,
.footer input[type="checkbox"]:not(:checked) + label:before,
.footer input[type="radio"]:checked + label:before,
.footer input[type="radio"]:not(:checked) + label:before {
  background-color: #03244e;
}
* {
  box-sizing: border-box;
  transition: all 0.4s ease;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #03244e;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  flex-direction: column;
  background: url("../img/header-bg.png") no-repeat center center;
  background-size: cover;
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}
.header__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus {
  color: #de1142;
}
.header__link:hover .header__link_wrapper,
.header__link:focus .header__link_wrapper {
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  transition: background 0.4s ease;
}
.header__link_mail {
  font-size: 1.125rem;
  color: #03244e;
  font-weight: 400;
}
.header__link_phone {
  font-weight: 700;
  font-size: 1.5rem;
  color: #03244e;
}
.header__link_wrapper {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.header__menu {
  border: none;
  outline: none;
  background-color: transparent;
}
.header__menu:hover,
.header__menu:focus {
  cursor: pointer;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  margin-top: 180px;
  margin-bottom: 250px;
  position: relative;
}
.header__h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__h2 {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 30px;
  margin-bottom: 40px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfdff;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  font-weight: 600;
  font-size: 1.125rem;
  border: none;
  outline: none;
  width: 360px;
  height: 70px;
  border-radius: 4px;
  box-shadow: 0 10px 25px -10px #bb0833;
}
.link:hover,
.link:focus {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px 0 #bb0833;
}
.link:active {
  background: linear-gradient(90deg, #c81142 0%, #a70833 100%);
}
.lines {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  left: -20px;
  top: 30px;
  z-index: -1;
}
.lines::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  width: 16px;
  height: 2px;
  top: -5px;
  left: 14px;
}
.lines::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  width: 22px;
  height: 2px;
  top: 5px;
  left: 5px;
}
.section__heading {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 52px;
  color: #03244e;
  z-index: 2;
}
.section__heading .lines {
  left: -21px;
  top: 27px;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages .section__heading {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 60px;
}
.advantages__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.advantages__image_truck {
  position: relative;
  left: -25px;
}
.advantages__list {
  padding: 70px 50px 70px 70px;
  background-color: #fff;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 10px solid transparent;
  border-image-source: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  border-image-slice: 1;
  box-shadow: 0 15px 22px -10px #0d65d2;
}
.advantages__list_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.advantages__list_column figure {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
.advantages__list_column figure:not(:first-child) {
  margin-top: 40px;
}
.advantages__image_wrapper {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.advantage__text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 27px;
  color: #03244e;
  margin-top: 10px;
}
.advantage__text_bold {
  font-weight: 700;
}
.help {
  background: url("../img/help-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 140px;
}
.help .section__heading {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 52px;
  color: #fbfdff;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 80px;
}
.help .section__heading .lines {
  left: -24px;
}
.help__list {
  background-color: #fff;
  border-radius: 4px;
  border-top: 10px solid #de1142;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/help-cosmetic-left.png") no-repeat left center, url("../img/help-cosmetic-right.png") no-repeat right center, #fff;
}
.help__item {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.help__item:not(:last-child) {
  margin-bottom: 30px;
}
.help__item img {
  margin-right: 20px;
}
.help__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 27px;
  color: #03244e;
}
.help__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #03244e;
}
.price {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  background: url("../img/price-bg.png") no-repeat bottom 0 right 40px, #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 65px;
  padding-left: 100px;
  padding-bottom: 80px;
  box-shadow: 0 10px 25px -10px #bb0833;
  position: relative;
  top: 160px;
  margin-top: -20px;
}
.price__heading {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 52px;
  color: #03244e;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 60px;
  z-index: 1;
}
.price__heading .lines {
  z-index: -1;
  left: -22px;
  top: 25px;
}
.price__heading_blue {
  font-weight: 800;
  color: #1c78ea;
}
.price__input {
  width: 317px;
  height: 70px;
  border: 2px solid #1872e3;
  outline: none;
  padding: 25px 35px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.price__label {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 16px;
  color: #03244e;
}
.price__label a {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 16px;
  color: #03244e;
  text-decoration: underline;
}
.price .link {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 317px;
  height: 70px;
}
.steps {
  margin-top: 300px;
}
.steps .section__heading {
  margin-bottom: 90px;
  z-index: 1;
  position: relative;
}
.steps .section__heading .lines {
  left: -22px;
}
.steps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 60px;
  flex-wrap: wrap;
  background: url("../img/scheme.png") no-repeat top 115px left;
}
.step {
  width: 33%;
  margin-bottom: 95px;
}
.step__number {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 27px;
  text-transform: uppercase;
  color: #1872e3;
  margin-top: 10px;
  margin-bottom: 10px;
}
.step__point {
  background: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step__point::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 13px;
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.step:nth-child(6) .step__point::after {
  width: 100px;
  height: 40px;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 40px;
  top: 0;
}
.step__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #03244e;
  margin-top: 20px;
  width: 75%;
}
.about-us {
  background: url("../img/about-us-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-us .section__heading {
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #fbfdff;
  margin-bottom: 60px;
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 45px;
  padding-left: 60px;
  position: relative;
}
.about__item::before {
  content: url("../img/icons/about-check.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.about__heading {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 27px;
  color: #fbfdff;
  margin-bottom: 10px;
}
.about__info {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #fbfdff;
}
.about-us .link {
  margin-top: 70px;
}
.numbers {
  padding-top: 140px;
  padding-bottom: 110px;
}
.numbers .section__heading {
  position: relative;
  margin-bottom: 90px;
}
.numbers .section__heading .lines {
  left: -23px;
}
.numbers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.numbers__item {
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 280px;
  z-index: 1;
}
.numbers__item img {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 0;
}
.numbers__number {
  font-weight: 800;
  font-size: 9.375rem;
  line-height: 1;
  color: #1872e3;
  z-index: 1;
}
.numbers__item:first-child .numbers__number {
  align-self: flex-end;
  margin-right: -35px;
}
.numbers__text {
  margin-top: 40px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #03244e;
}
.belarus {
  border: 10px solid transparent;
  border-image-source: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  border-image-slice: 1;
  box-shadow: 0 15px 22px -10px #0d65d2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 70px 80px 80px 80px;
  position: relative;
  margin-bottom: 110px;
}
.belarus .section__heading {
  position: relative;
  display: flex;
  width: 55%;
}
.belarus::after {
  content: url("../img/belarus-map.png");
  position: absolute;
  bottom: -55px;
  right: 100px;
}
.belarus__list {
  margin-left: 15px;
}
.belarus__item {
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #03244e;
  padding-left: 40px;
}
.belarus__item::before {
  content: url("../img/icons/belarus-plus.svg");
  position: absolute;
  top: -5px;
  left: 0;
}
.belarus__item:first-child {
  margin-bottom: 40px;
}
.contacts {
  margin-bottom: -200px;
}
.contacts .section__heading {
  position: relative;
  margin-bottom: 70px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contacts__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contacts__column:first-child {
  margin-right: 200px;
}
.contacts__link {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.contacts__link:not(.contacts__link_text):hover .contacts__text,
.contacts__link:not(.contacts__link_text):focus .contacts__text {
  color: #de1142;
}
.contacts__link:not(.contacts__link_text):hover .contacts__icon,
.contacts__link:not(.contacts__link_text):focus .contacts__icon {
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  transition: background 0.4s ease;
}
.contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0d65d2 0%, #1c78eb 100%);
  width: 47px;
  height: 47px;
  margin-right: 20px;
  border-radius: 50%;
}
.contacts__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #03244e;
}
.footer {
  background-color: #03244e;
  color: #fbfdff;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer .section__heading {
  color: #fbfdff;
  position: relative;
}
.footer__logo {
  margin-bottom: 55px;
}
.footer__divider {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  color: #7c8d9c;
}
.footer__phone {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fbfdff;
  text-decoration: none;
  width: 25%;
}
.footer__phone p {
  display: flex;
}
.footer__phone:hover p,
.footer__phone:focus p {
  color: #de1142;
  transition: all 0.4s ease;
}
.footer__icon {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: linear-gradient(to right, #de1142 0%, #bb0833 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.footer__form_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 10px;
}
.footer__input {
  padding: 25px 35px;
  margin-right: 30px;
  border: 1px solid #1872e3;
  border-radius: 4px;
  outline: none;
  height: 70px;
  width: 317px;
}
.footer__checkbox {
  margin-left: 694px;
  margin-bottom: 20px;
}
.footer__label {
  font-weight: 300;
  font-size: 0.875rem;
  color: #fbfdff;
}
.footer__label a {
  font-weight: 300;
  font-size: 0.875rem;
  color: #fbfdff;
  text-decoration: underline;
}
.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  color: #bdbdbd;
}
.footer__info a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #bdbdbd;
}
.policy__link:hover,
.policy__link:focus {
  color: #fff;
}
@media screen and (max-width: 1199.98px) {
  html,
  body {
    font-size: 14px;
  }
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
  .header__content {
    margin-top: 50px;
    justify-content: stretch;
  }
  .header__h2 {
    display: inline-block;
    width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .header {
    background: url("../img/header-bg-tablet.png") no-repeat top -50px center;
    background-size: cover;
    height: 900px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__li_mail {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    height: 1000px;
    background-position: top 45px center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
  }
  .header .container {
    padding: 0;
  }
  .header__li_phone {
    display: none;
  }
  .header__h2 {
    width: 100%;
  }
  .link {
    max-width: 100%;
  }
  .header__menu {
    padding: 0;
    align-self: flex-end;
  }
  .header__menu .header__link_wrapper {
    margin-right: 0;
  }
  .mobile {
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .header__ul {
    height: 70px;
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.85);
    z-index: 30;
  }
  .header__li_logo img {
    width: 140px;
  }
}
